---
layout: default
title: Home
---
<div class="home">
  <h1 class="page-heading">Recent news about SAT <small>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></small></h1>
  <p>&nbsp;</p>
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h4><span class="label label-default">{{ post.date | date: "%b %-d, %Y" }}</span>&nbsp;

          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          
          by {{ post.author }}
          {% for tag in post.tags %}

            {% if tag == "CFP" %} 
              <span class="tag label-warning">
            {% else %}
              <span class="tag label-info">
            {% endif %}
                <a href="{{ tag | downcase | prepend: "/" | append: ".html" | prepend: site.baseurl}}">{{ tag }}</a>&nbsp;
              </span>

          {% endfor %}
       </h4>
          {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

</div>
