---
layout: page
title: Solvers
permalink: /solvers/
---

<p class="alert alert-info">That page is far from being complete. Do not hesitate to drop me an email or make a pull request to include your favorite solver here. </p>

Here is a list of solvers available from the SAT community for research purposes.

Those solvers are expected to run out-of-the-box on recent computers.

<h2>SAT solvers</h2>

{% include solverspanel.html title="CDCL sat solvers" tags="CDCL" %}

{% include solverspanel.html title="Stochastic Local Search solvers" tags="SLS" %}

{% include solverspanel.html title="Pre-processors" tags="PREPROC" %}

<h2>Pseudo-Boolean solvers</h2>

{% include solverspanel.html title="Pseudo-Boolean Optimizers" tags="PB" %}

<h2>MaxSat solvers</h2>

{% include solverspanel.html title="MaxSat solvers" tags="MAXSAT" %}

<h2>QBF solvers</h2>

{% include solverspanel.html title="Quantified Boolean Formulas solvers" tags="QBF" %}

<h2>Modal Logic solvers</h2>

{% include solverspanel.html title="Modal Logic solvers" tags="Modal-SAT" %}
