                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                                <h3 class="panel-title">Upcoming deadlines</h3>
                                        </div>
                                        <div class="panel-body center-block">
                                                <dl>
                                                {% capture today %}{{ site.time | date: "%Y-%m-%d" }}{% endcapture %}
                                                {% assign sortedcfps = site.tags.CFP | sort: 'deadline' | reverse %}
                                                {% for cfp in sortedcfps reversed %}
                                                   {% if cfp.deadline %}
                                                       {% capture deadline %}{{ cfp.deadline | date: "%Y-%m-%d" }}{% endcapture %}
                                                       {% if deadline >= today %}
                                                        <dt>{{ cfp.deadline | date: "%B %-d" }}</dt>
                                                        <dd><a
                                                                href="{{ cfp.link }}"
                                                                title="{{ cfp.title }}">{{ cfp.shorttitle }}</a></dd>
                                                       {% endif %}
                                                   {% endif %}
                                                {% endfor %}
                                                </dl>
                                        </div>
                                </div>

