<footer class="site-footer">


	<div class="footer">
		<p class="text-muted">
			Sat Live! has been created and hosted from 2000 to 2014 by the <a
				href="http://www.innovation.it.uts.edu.au/lab/index.html">Innovation
				and Enterprise Research Laboratory</a> at the University of Technology,
			Sydney. It is now managed by <a href="http://www.cril.fr/">Daniel
				Le Berre</a> from Artois University, France.
		</p>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery-1.11.0.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</footer>
