---
layout: default
---
<div class="home">

  <h1 class="page-heading">Recent news about SAT for tag {{ page.tag }}</h1>
  <p>&nbsp;</p>
  <ul class="post-list">
    {% for post in site.posts %}
       {%  for tag in post.tags %}
          {% if (tag == page.tag) %}
      <li>
        <h4><span class="label label-default">{{ post.date | date: "%b %-d, %Y" }}</span>&nbsp;

          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          
          by {{ post.author }}</h4>
          {% for tag in post.tags %}
       <a href="{{ tag | downcase | prepend: "/" | append: ".html" | prepend: site.baseurl}}">{{ tag }}</a>&nbsp;
       {% endfor %}
          {{ post.excerpt }}
      </li>
          {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

</div>
