---
layout: default
---
<div class="home">

  <h1 class="page-heading">Recent news about SAT for tag {{ page.tag }}</h1>
  <p>&nbsp;</p>
  <ul class="post-list">
    {% for post in site.posts %}
       {%  for atag in post.tags %}
          {% if atag == page.tag %}
      <li>
        <h4><span class="label label-default">{{ post.date | date: "%b %-d, %Y" }}</span>&nbsp;

          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          
          by {{ post.author }}
          {% for tag in post.tags %}
            {% if tag == "CFP" %} 
              <span class="tag label-warning"><a href="{{ tag | downcase | prepend: "/" | append: ".html" | prepend: site.baseurl}}">{{ tag }}</a>&nbsp;</span>
            {% endif %}                  
            {% if tag == "Advertising" %} 
              <span class="tag label-success">
            {% else %}                  
              {% if tag != "CFP" %} <span class="tag label-info"> {% endif %}  
            {% endif %}
                {% if tag != "CFP" %}
                  <a href="{{ tag | downcase | prepend: "/" | append: ".html" | prepend: site.baseurl}}">{{ tag }}</a>&nbsp;
              </span> {% endif %}  
       {% endfor %}
       </h4>
          {{ post.excerpt }}
      </li>
          {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

</div>
